
<div class="content">
    <div class="header container">
        <span class="material-icons" style="margin-left: 0.55em;">
            arrow_back_ios
        </span>
        <img src="../../assets/pofilbild.jpg" class="pic">
        <p class="text">Florian</p>
        <div class="icons">
            <span class="material-icons my-icon">
                videocam
                </span>
            <span class="material-icons my-icon">
                phone
            </span>
            <span class="material-icons my-icon">
                more_vert
            </span>
        </div>
        
    </div>
    <div class="messager">
        <div class="message">
            <div class="typing-demo">
                Chunsch id Aare?
            </div>
            <div class="time">
                {{ currentTime | date : 'HH:mm'}}
            </div>
        </div>
        <div class="message message-r" #loadingDiv>
            <loading></loading>
        </div>
        <div class="message message-r" #answerDiv>
            <div class="answer">
                {{answer}}
            </div>
            <div class="time">
                {{ currentTime | date : 'HH:mm'}}
            </div>
        </div>
    </div>
</div>